extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  h1 GAYA
  .buttons
    button(data-src="./sound/e.mp3") えー!?
    button(data-src="./sound/kansei.mp3") 歓声
    button(data-src="./sound/laugh.mp3") 笑い
    button(data-src="./sound/yellow.mp3")
      | 黄色い
      br
      | 歓声
    button(data-src="./sound/deden.mp3") デデン
    button(data-src="./sound/kansei.mp3") 正解
    button(data-src="./sound/e.mp3") 不正解
    button(data-src="./sound/drumroll.mp3")
      | ドラム
      br
      | ロール 
  a(href="http://soundeffect-lab.info/",target="_blank") 素材提供 効果音ラボ
