.wrapper {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 20px;
}

.buttons {
    width: 100%;
    text-align: center;
}

.vertical button {
    width: 40vw;
    height: 40vw;
    font-size: 10vw;
    margin: 4vw;
}

button {
    position: relative;
    width: 22vw;
    height: 22vw;
    margin: 1vw;
    font-size: 5vw;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    border-radius: 50%;
    background-color: #dd2222;
    color: #fff;
    box-shadow: 0 4px 0 rgba(169,50,60,1);

    &:active {
        top: 4px;
        box-shadow: none;
    }
}

a {
    display: block;
    margin-top: 10vw;
}
